.container {
    border-top: 2px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    z-index: -1;
}

.container > * {
    margin: .5rem 1rem;
}

.authLinks {

}

.chatSymbol {
    height: 2.5rem;
    width: 2.5rem;
}